# FILL THIS SECTION WITH YOUR DB INFO

DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_USER_DB_CREATED
DB_PASSWORD=YOUR_PASSWORD_DB
DB_HOST=localhost # default value for localhost environment
DB_PORT=PORT_OF_YOUR_DB

# LOCALHOST INFO
HOST="127.0.0.1" # default IP address for django localhost application

# FILL THIS SECTION WITH KEY ENCRYPT
JWT_ALGO = HS256 # default algo Value for JWT TOKEN
JWT_KEY=YOUR_JWT_KEY

# FILL THIS SECTION WITH YOUR SETUP SMTP(GOOGLE)
SMTP_USER=YOUR_EMAIL_ACCOUNT
SMTP_PASSWORD=YOUR_PASSWORD_GENERATED_WITH_SETUP_GOOGLE_PASSWORD
SMTP_PORT=587 # DEFAULT PORT OF GOOGLE TO SEND MAIL
SMTP_HOST=smtp.gmail.com # SMTP NAME OF GOOGLE MAIL
SMTP_USE_TLS=True # DEFAULT VALUE TO USE TLS SECURE BETWEEN EMAIL ADDRESS
