# FILL THIS SECTION WITH YOUR DB INFO

DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_USER_DB_NAME
DB_PASSWORD=YOUR_DB_PASSWORD
# default value for localhost environment
DB_HOST=localhost
DB_PORT=YOUR_PORT_PASSWORD

# LOCALHOST INFO
# default IP address for django localhost application
HOST=127.0.0.1

# FILL THIS SECTION WITH KEY ENCRYPT
# default algo Value for JWT TOKEN
JWT_ALGO = <YOUR_ALGO_ENCRYPT_FOR_JWT> 
JWT_KEY=YOUR_JWT_KEY

# FILL THIS SECTION WITH YOUR SETUP SMTP(GOOGLE)
SMTP_USER=YOUR_GMAIL_EMAIL
SMTP_PASSWORD=YOUR_GMAIL_PASSWORD_GENERATED
# DEFAULT PORT OF GOOGLE TO SEND MAIL
SMTP_PORT=587 
# SMTP NAME OF GOOGLE MAIL
SMTP_HOST=smtp.gmail.com
# DEFAULT VALUE TO USE TLS SECURE BETWEEN EMAIL ADDRESS
SMTP_USE_TLS=True 

# Google OAuth2.0 options
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_REDIRECT_URL=<YOUR_GOOGLE_REDIRECT_URL>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/auth
GOOGLE_OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_OAUTH_USER_INFO_URL=https://openidconnect.googleapis.com/v1/userinfo