{% extends "../base.html" %}

{% load static %}

{% block css %}
	<style>
		nav {
			height: 63px;
			max-height: 63px;
		}
		li.add_todo {
			cursor: pointer;
		}
		.todos-list {
			height: calc(100vh - 63px);
			max-height: calc(100vh - 63px);
			overflow-y: auto;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container-fluid text-white text-capitalize px-0">
		<nav class="nav-bar-user bg-dark d-flex justify-content-between bg-dark align-items-center p-2">

			<div class="nav-brand">
				<img src="{% static "todos/images/brand.png"%}" width="35" alt="todo list"/>
				<span class=" text-capitalize brand-name">Todos list</span>
			</div>
			<ul class="nav-bar-actions list-unstyled mb-0">
				<a href="{% url 'todo_list:todo_add' %}">
					<li class="nav-item add_todo" title="add todo">
						<img src="{% static 'todos/images/plus.png'%}" width="30" alt="add todo"/>
					</li>
				</a>
			</ul>
		</nav>
		<div class="todos-list d-flex align-items-center justify-content-center text-black">
			{% for todo in todos %}
				{{todo.title}}
			{% empty %}
				<div class="no-todos">
					<p>You don't have à todos list</p>
					<a href="{% url 'todo_list:todo_add' %}">
						<div class="btn btn-success w-100">add todo</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
