{% extends "../base.html" %}

{% load static %}

{% block css %}
	<style>
		nav {
			height: 63px;
			max-height: 63px;
		}
		li.add_todo {
			cursor: pointer;
		}
		.todos-list {
			height: calc(100vh - 63px);
			max-height: calc(100vh - 63px);
			overflow-y: auto;
		}
		.todos_done .list-group-item {
			background-color: lightgreen;
			/* color: #112A46; */
			color: #123;
		}
		.todo-actions .btn-show {
			background-color: #044B5B;
		}
		.todo_title {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container-fluid text-white text-capitalize px-0">
		<nav class="nav-bar-user bg-dark d-flex justify-content-between bg-dark align-items-center p-2">

			<div class="nav-brand">
				<img src="{% static "todos/images/brand.png"%}" width="35" alt="todo list"/>
				<span class=" text-capitalize brand-name">Todos list</span>
			</div>
			<ul class="nav-bar-actions list-unstyled mb-0">
				<a href="{% url 'todo_list:add_todo' %}">
					<li class="nav-item add_todo" title="add todo">
						<img src="{% static 'todos/images/plus.png'%}" width="30" alt="add todo"/>
					</li>
				</a>
			</ul>
		</nav>
		<div class="todos-list d-flex justify-content-center text-black">

			{% if todos %}
				<div class="container-fluid">
					<div class="row h-100 justify-content-between">
						<div class="col-12 col-lg-6 px-0">
							{% if todos.todos_not_done %}
								<div class="todos_not_done pt-3">
									<h3 class="text-center">todos list created</h3>
									<ul class="list-group">
										{% for todo in todos.todos_not_done %}
											<li class="list-group-item d-flex justify-content-between align-items-center todo_not_done m-2" {% if todo.content %} title="{{todo.content}}" {% endif %}>
												<div class="container-fluid px-0">
													<div class="row justify-content-between align-items-center">
														<div class="col-12 col-sm-8">
															<div class="todo_title">{{todo.title}}</div>
														</div>
														<div class="col-12 col-sm-4">
															<div class="todo-actions d-flex d-flex justify-content-start justify-content-sm-end">
																<a class="mx-1" href="{% url 'todo_list:edit_todo' todo.id %}">
																	<div class="todo_action btn btn-primary text-white">edit</div>
																</a>
																<a class="mx-1" href="{% url 'todo_list:details_todo' todo.id %}">
																	<div class="todo_action btn btn-show text-white">show</div>
																</a>
																<a class="mx-1" href="{% url 'todo_list:delete_todo' todo.id %}">
																	<div class="todo_action btn btn-danger text-white">delete</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% else %}
								<div class="container-fluid h-100">
									<div class="row align-items-center h-100 justify-content-center">
										<div class="no-todos col-12">
											<p class="text-center">yours todos created will be appear here</p>
										</div>
									</div>
								</div>
							{% endif %}

						</div>
						<div class="col-12 col-lg-6 px-0">
							<div class="border-start h-100">
								{% if todos.todos_done %}
									<div class="todos_done pt-3">
										<h3 class="text-center">todos list completed</h3>
										<ul class="list-group todos_done">
											{% for todo in todos.todos_done %}
												<li class="list-group-item d-flex justify-content-between align-items-center m-2 todo_done fw-bolder" {% if todo.content %} title="{{todo.content}}" {% endif %}>
													<div class="container-fluid px-0">
														<div class="row justify-content-between align-items-center">
															<div class="col-12 col-sm-8">
																<div class="todo_title">{{todo.title}}</div>
															</div>
															<div class="col-12 col-sm-4">
																<div class="todo-actions d-flex justify-content-start justify-content-sm-end">

																	<a class="mx-1" href="{% url 'todo_list:edit_todo' todo.id %}">
																		<div class="todo_action btn btn-primary text-white">edit</div>
																	</a>
																	<a class="mx-1" href="{% url 'todo_list:details_todo' todo.id %}">
																		<div class="todo_action btn btn-show text-white">show</div>
																	</a>
																	<a class="mx-1" href="{% url 'todo_list:delete_todo' todo.id %}">
																		<div class="todo_action btn btn-danger text-white">delete</div>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</li>
											{% endfor %}
										</ul>
									</div>
								{% else %}
									<div class="container-fluid h-100">
										<div class="row align-items-center h-100 justify-content-center">
											<div class="no-todos col-12">
												<p class="text-center">your todos done will be appear here</p>
											</div>
										</div>
									</div>
								{% endif %}

							</div>
						</div>

					</div>
				</div>
			{% else %}
				<div class="no-todos">
					<p>You don't have à todos list</p>
					<a href="{% url 'todo_list:add_todo' %}">
						<div class="btn btn-success w-100">add todo</div>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
