{% load static %}

<nav class="nav-bar-user bg-dark d-flex justify-content-between bg-dark align-items-center p-2">
	<div class="nav-brand">
		<a href="{% url 'todo_list:index' %}" class="text-decoration-none">
			<img src="{% static "todos/images/brand.png"%}" width="35" alt="todo list"/>
		</a>
		<span class="text-capitalize text-white brand-name">{{title|default:"Todos list"}}</span>
	</div>
	<ul class="nav-bar-actions list-unstyled d-flex align-items-center mb-0">
		<li class="nav-item logout mx-2 position-relative">
			<span {% if user.photo %} {% else %} class="btn border border-0 btn-danger fw-bolder rounded-circle user-name" {% endif %}>
				{% if user.photo %}
						<img src="{{user.photo}}" width=40 alt="user image" title="{{user.user_name|upper}}" class="img-fluid rounded-circle"/>
				{% else %}
				   {{user.user_name|make_list|first}}
				{% endif %}
			</span>
			{% if user.is_profile %}
			{% else %}
				<a href="{% url 'todo_list:user_profile' user.user_id %}">
					<img class="position-absolute settings-logo" title="settings" width=20 src="{% static "todos/images/settings.png" %}" alt="settings"/>
				</a>
			{% endif %}
			
		</li>
		<li class="nav-item logout mx-2" title="logout">
			<form action="{% url "todo_list:logout" %}" method="get">
				<button 
				type="submit" 
				class="btn btn-outline-success text-capitalize fw-bolder" 
				href="{% url 'todo_list:logout' %}"
				>
				log out
			</button>
			{% csrf_token %}
			</form>
		</li>
		<li class="nav-item add_todo" title="add todo">
			<a href="{% url 'todo_list:add_todo' %}">
				<img src="{% static 'todos/images/plus.png'%}" width="30" alt="add todo"/>
			</a>
		</li>
	</ul>
</nav>
