{% load static %}

<nav class="nav-bar-user bg-dark d-flex justify-content-between bg-dark align-items-center p-2">

	<div class="nav-brand">
		<a href="{% url 'todo_list:index' %}" class="text-decoration-none">
			<img src="{% static "todos/images/brand.png"%}" width="35" alt="todo list"/>
		</a>
		<span class="text-capitalize text-white brand-name">{{title|default:"Todos list"}}</span>
	</div>
	<ul class="nav-bar-actions list-unstyled d-flex align-items-center mb-0">
		{% if user_name %}

			<li class="nav-item logout mx-2" title="{{user_name|upper}}">
				<span class="btn border border-0 btn-danger fw-bolder rounded-circle user-name">
					{{user_name|make_list|first}}
				</span>
			</li>

		{% endif %}

		<li class="nav-item logout mx-2" title="logout">
			<a class="btn btn-outline-success fw-bolder" href="{% url 'todo_list:logout' %}">
				log out
			</a>
		</li>
		<li class="nav-item add_todo" title="add todo">
			<a href="{% url 'todo_list:add_todo' %}">
				<img src="{% static 'todos/images/plus.png'%}" width="30" alt="add todo"/>
			</a>
		</li>
	</ul>
</nav>
