{% extends "../base.html" %}

{% load static %}

{% block css %}
	<style>
		input {
			text-transform: capitalize;
		}
		.container-wrapper {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
			border-radius: 20px;
		}
		body {
			overflow: hidden;
		}
		.errorlist > li {
			list-style-type: none;
			color: red;
		}
		.errorlist {
			padding-left: 0;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container-fluid text-black text-capitalize px-0">
		<div class="form-wrapper vh-100 vw-100 overflow-auto d-flex align-items-center justify-content-center">
			<div class="container-wrapper mx-4 py-3 w-100">

				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-5 d-none d-md-block">
							<div class="todo-image">
								<img src="{% static 'todos/images/secure.png'%}" class="w-75" alt="user_register_secure">
							</div>
						</div>
						<div class="col-12 col-md-7">
							<form action="{% url 'todo_list:todo_user_reset_password' %}" method="post" class="user_form w-100 text-capitalize p-3">

								<h2 class="text-center">reset password</h2>
								{% if errors.user_message %}
									<div class="alert alert-danger">
										{{errors.user_message}}
									</div>
								{% endif %}
								<div class="form-group mb-3">
									<label for="email">enter your email</label>
									<input type="email" name="email" value="{{user.email.value}}" id="email" class="form-control" placeholder="your email account" required autofocus/>
								</div>

								<input class="btn btn-primary w-100" type="submit" value="reset password">
								<a class="mt-2 text-start w-100 d-block" href="{% url 'todo_list:todo_user_login' %}">
									have you found your password ? login into your account
								</a>
								{% csrf_token %}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
